#chart{  
    width: 100%;
    height: 500px;
    border: solid 1px #000;
}

.getData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;  
}

.dataPicker {
  margin-right: 20px; 
}